html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
}

.button-link {
  display: inline-block;
  padding: 0.6em;
  border: none;
  background-color: transparent;
}

.navbar-button-img {
  width: 6em;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.navbar-button-img:hover {
  transform: scale(1.1);
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin-left: 1em;
  margin: 1em;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: orangered;
}

h1 {
  color: black;
  margin: 2em;
  text-align: center;
}

h2 {
  color: white;
  margin: 1em;
  text-align: center;
}

.genre-links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.genre-links a {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.genre-links a:hover {
  background-color: orangered;
}

p {
  color: white;
  margin-top: 0.5em;
}

.description {
  color: white;
  max-width: 25em;
  padding: 1em;
  border: 2px outset #ccc;
  border-radius: 8px;
  background-color: #222;
}

#descricao-Royale,
#descricao-clash,
#descricao-boom {
  color: gray;
  text-decoration: none;
  font-size: 1.3em;
  transition: color 0.3s ease;
}

#texto-movel-Royale,
#texto-movel-clash,
#texto-movel-boom {
  position: absolute;
  left: 30em;
  color: white;
}

#movel-Royale,
#movel-clash,
#movel-boom {
  position: absolute;
  left: 30em;
  padding-top: 17em;
}

.store-links {
  display: flex;
  gap: 1em;
  margin-top: 1.5em;
}

.store-links a img {
  width: 10em;
  transition: transform 0.3s;
}

.store-links a img:hover {
  transform: scale(1.1);
}

#logo1,
#logo2,
#logo3 {
  margin: 1em;
  width: auto;
  height: 21em;
  border-radius: 8px;
  margin-top: 0.5em;
  margin-left: 1px;
}

.Clash-Royale {
  gap: 0.5em;
  display: inline-flex;
  margin: 0.6em;
  width: auto;
  height: 25em;
  overflow-x: auto;
  display: flex;
  margin-left: 1px;
}

.Clash-of-Clans,
.Boom-Beach {
  gap: 0.5em;
  display: inline-flex;
  margin: 0.6em;
  width: auto;
  margin-left: 1px;
  height: 18em;
  display: flex;
  overflow-x: auto;
}

.responsive-video iframe {
  float: right;
  margin-top: -25em;
  margin-right: -25em;
  width: 418px;
  height: 400px;
}

@media (min-width: 1024px) {
  .responsive-video {
    width: 70%;
  }
}

.games-section {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.game-category-estrategia {
  padding: 0.5em;
  background-color: black;
  border-radius: 10px;
}

.footer {
  background-color: black;
  padding: 1em;
  text-align: center;
  color: white;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  display: inline-block;
  margin: 0.5em;
}

.footer ul li a {
  color: white;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}